/*=====================================
---------------------------------------
R E S P O N S I V E  - CSS  - S T A R T 
---------------------------------------
=======================================*/

/*
    FILE INFO
  ========================================
    WEBSITE NAME        - Project Name
    WORK STARTED DATE   - 00.00.0000/00:00pm
    CSS TYPE            - Only Responsive
  ========================================
*/


/*=====================================
---------------------------------------
BRAKE POINTS:-
            - max-width: 1024px
            - min-width: 768px
            - max-width: 667px            
            - max-width: 600px            
            - max-width: 568px
            - max-width: 480px
            - max-width: 375px
            - max-width: 320px            
---------------------------------------   
=======================================*/




@media all and (min-width: 1024px) {
  .header_wrap {
    /*width: 98%;*/
    display: inline-block;
}
}


@media all and (min-width: 1366px) {
  .header_wrap {
    /*width: 100%;*/
    display: inline-block;
}
}

/*================================================================================
    @media all and (max-width: 1024px) START Tab
  ================================================================================*/

@media all and (max-width: 1024px)  {
.wrap1 {border-right: 2px solid #6e6e6e; padding: 0 50px 0 0; width: 39%;}
.wrap2 {border-right: 2px solid #6e6e6e; padding: 0 50px; width: 38%;}
.wrap3 {width: 45%; padding: 0;}
}

/*================================================================================
    @media all and (max-width: 1024px) END Tab
  ================================================================================*/


/*================================================================================
    @media all and (max-width: 768px) START iPhone - 6
  ================================================================================*/

@media all and (max-width: 768px) {
.wrap1 {border-right: 2px solid #6e6e6e; padding: 0 50px 0 0; width: 37%;}
.wrap2 {border-right: 2px solid #6e6e6e; padding: 0 50px; width: 37%;}
.wrap3 {width: 45%; padding: 0;}
}

/*================================================================================
    @media all and (max-width: 768px) END iPhone - 6
  ================================================================================*/


/*================================================================================
    @media all and (max-width: 667px) START iPhone - 6
  ================================================================================*/

@media all and (max-width: 667px) {
.wrap1 {width: 36%; padding: 0 50px 0 0;  border-right: 2px solid #6E6E6E;}
.wrap2 {width: 35%; padding: 0 50px; border-right: 2px solid #6E6E6E;}
.wrap3 {width: 45%; padding: 0;}
}

/*================================================================================
    @media all and (max-width: 667px) END iPhone - 6
  ================================================================================*/


/*================================================================================
    @media all and (max-width: 600px) START Tab
  ================================================================================*/

@media all and (max-width: 600px) {
.wrap1 {border-right: 2px solid #6e6e6e; padding: 0 50px 0 0; width: 35%;}
.wrap2 { border-right: 2px solid #6e6e6e; padding: 0 50px; width: 34%;}
}

/*================================================================================
    @media all and (max-width: 600px) END Tab
  ================================================================================*/


/*================================================================================
    @media all and (max-width: 568px) START iPhone - 5
  ================================================================================*/

@media all and (max-width: 568px) {

.container02 .wrap1 {width: 100%;}
.container02 .wrap2 {width: 100%; border-right: medium none; padding: 0;}
.container02 .wrap3 {width: 100%; padding: 0;}  

}

/*================================================================================
    @media all and (max-width: 568px) END iPhone - 5
  ================================================================================*/





/*================================================================================
    @media all and (max-width: 480px) START iPhone - 3 + 4
  ================================================================================*/
@media all and (max-width: 480px) {
.container02 .wrap1 {width: 100%;}
.container02 .wrap2 {width: 100%; border-right: medium none; padding: 0;}
.container02 .wrap3 {width: 100%; padding: 0;}
}

/*================================================================================
    @media all and (max-width: 480px) END iPhone - 3 + 4
  ================================================================================*/






/*================================================================================
    @media all and (max-width: 375px) START iPhone - 6
  ================================================================================*/

@media all and (max-width: 375px) {

}


/*================================================================================
    @media all and (max-width: 375px) END iPhone - 6
  ================================================================================*/





/*================================================================================
    @media all and (max-width: 320px) START iPhone - 3 + 4
  ================================================================================*/

@media all and (max-width: 320px) {
.container02 .wrap1 {width: 100%;}
.container02 .wrap2 {width: 100%; border-right: medium none; padding: 0;}
.container02 .wrap3 {width: 100%; padding: 0;}
}


/*================================================================================
    @media all and (max-width: 320px) END iPhone - 3 + 4
  ================================================================================*/

/*=====================================
---------------------------------------
R E S P O N S I V E  - CSS  -     E N D 
---------------------------------------
=======================================*/